language: python

python:
    - "2.6"
    - "2.7"
    - "pypy"
    - "3.3"
    - "3.4"

matrix:
    allow_failures:
        - python: "3.3"
        - python: "pypy"

install:
    - if [ "$TRAVIS_PYTHON_VERSION" == "2.6" ]; then pip install unittest2; fi
    - pip install future
    - python setup.py install --quiet
    - pip install --quiet pytest-cov

script:
    # test_05vector_07slp takes too long (so travis errors the build), it also fails on py2!
    # TODO make test_05vector_07slp run faster (or do slightly less).
    # TODO perhaps split build into tests and examples?
    # For now we only run the passing python 3 tests are run on the 3.4 build
    - if [ "$TRAVIS_PYTHON_VERSION" == "3.4" ]; then
      nosetests test/test_graph.py test/test_metrics.py test/test_de.py test/test_en.py test/test_es.py test/test_fr.py test/test_it.py test/test_nl.py test/test_text.py test/test_search.py; else
      nosetests --exclude=test_05vector_07slp --with-coverage --cover-package=pattern;
      fi

after_success:
    - pip install --quiet coveralls
    - coveralls
