language: python

python:
    - "2.6"
    - "2.7"
    - "pypy"
    - "3.3"
    - "3.4"

matrix:
    allow_failures:
        - python: "3.3"
        - python: "3.4"
        - python: "pypy"

install:
    - if [ "$TRAVIS_PYTHON_VERSION" == "2.6" ]; then pip install unittest2; fi
    - pip install future
    - python setup.py install --quiet
    - pip install --quiet pytest-cov

script:
    - # test_05vector_07slp takes too long (so travis errors the build), it also fails on py2!
    - # TODO make test_05vector_07slp run faster (or do slightly less).
    - # TODO perhaps split build into tests and examples?
    - nosetests --exclude=test_05vector_07slp --with-coverage --cover-package=pattern

after_success:
    - pip install --quiet coveralls
    - coveralls
